@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
    background-color: #131313 ;
    font-size: 16px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: white;
}

.media-picture {
    background-image: url("./batman2022.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;

}

.review-score {
    background-color: #e6bd09;
    color: white;
    padding: 12px;
}

h2 {
    color: steelblue;

}

p {
    color: #bdbdbd;
    font-family: "Roboto", sans-serif;
}

a {
    color: yellow;
}